<h1>Artists#index</h1>
<p>Find me in app/views/artists/index.html.erb</p>

<ul>
	<% @artists.each do |artist| %>
	  <% if artist_path(artist["name"]) == nil %>
	  <li><%= artist["name"] %></li>
	  <% else %>
		<li><%= link_to artist["name"], artist_path(artist["name"]) %></li>	
		<% end %>
	<% end %>
</ul>