<div class="show">

	<h1 style ="text-align:center"><%= @artist["name"] %></h1>

	<div class="image"><img src="<%= @artist["image"][4]["content"] %>"/></div>
	<% if @artist["bio"]["content"] == {} %>
		Sorry No Bio for this Artist!
	<% else %>	
<p><%= @artist["bio"]["content"].html_safe %></p>	
	<% end %>
	<div class="clearfix"></div>

</div>