<h1 style ="text-align:center"><%= @artist["name"] %></h1>

<img class="id" src="<%= @artist["image"][4]["content"] %>"/>

<% if @artist["bio"]["content"] == {} %>
	Sorry No Bio for this Artist!
<% else %>	
	<%= @artist["bio"]["content"].html_safe %>
<% end %>