/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
html {
	background:#FFF;
}

a {
	text-decoration:none;
}

a:hover {
	color:blue;
}

#wrapper { 
	width:960px; 
	margin: 0 auto -10px; 
	position:relative; 
	background:#D2DDFF;
	box-shadow: 2px 0px 2px gray, -2px 0px 2px gray;
	border-radius:2px;
}

#header {
	background:black;
}

div.image {
	float:left;
	padding: 0px 20px 20px 20px;
}

img.event {
	float:left;
	padding: 0px 20px 0px 10px;
}

p.event {
	float:left;
	padding: 0px 140px 100px 10px;
}

h2.event {
	padding:0px 0px 0px 10px;
}

body.event {
	padding: 0px 20px 0px 20px;
}
.clearfix {
	clear:both;
}

li.header { 
	width:100%; 
	height:48px;
	text-align:center; 
	font-size:20px; 
	display:inline; 
	padding:10px;
	text-decoration: none;
	color:#FF0800;
}

ul.header {  
	height:48px;
	text-align:center; 
	font-size:20px; 
	display:inline; 
	background:gray;
}

h1.header {
	font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;	font-weight:bold; 
	font-size:90px; 
	text-align:center; 
	padding-top:5px;
	color:#FF0800;
	text-shadow: 2px 2px blue;
/*	line-height: 1.4; */
}

a.header {
	text-decoration:none;
	color:#FF0800;
}

a.header:hover {
	color:blue;
}

div.show {
	position:relative;
}