<div id ="footer">
	<p class="copy"><a href="http://twitter.com/dkaplan88" class="dan" target="_blank">Site designed by Dan Kaplan</a>	&copy;2012 DateYourCity, Inc.</p>
	<div class="clearfix"></div>
</div>
